<table class="table is-bordered is-striped is-narrow is-fullwidth mt-4">
  <thead>
  <tr>
    <th class="">
      <abbr title="Group">Kind</abbr>
    </th>
    <th class="">
      <abbr title="Name">Name</abbr>
    </th>
    <th>
      <abbr title="City">URL</abbr>
    </th>
    <th>
      <abbr title="DOB">Interval</abbr>
    </th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @pulsecheckers.each do |pulsechecker| %>
    <tr>
      <td><%= pulsechecker.kind %></td>
      <td><%= pulsechecker.name %></td>
      <td><%= pulsechecker.url %></td>
      <td><%= milliseconds_to_human_readable(pulsechecker.interval) %></td>
      <td>
        <a class="button is-primary">
          <span class="icon is-small"> <i class="fa fa-edit"></i> </span><span>Edit</span></a
        >
        <a class="button is-danger">
          <span class="icon is-small"> <i class="fa fa-trash-o"></i> </span><span>Delete</span></a
        >
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
