.button.is-primary {
  background-color: $button-color;
  border-color: transparent;
  color: $color-white;
}

.button.is-primary:hover, .button.is-primary.is-hovered {
  background-color: $button-color-hover;
  border-color: transparent;
  color: $color-white;
}
