//Colors:
$theme: #2e3339;

$menu-active-color: #54cc44;
$menu-hover-color: #282a36;
$button-color: #bd93f9;
$button-color-hover: #b687f8;
$selected: #6272a4;
$text: #f8f8f2;
$color-white: #fff;

//Fonts:
$font-base: Arial, "Helvetica Neue", Helvetica, sans-serif;
$font-default: 'Lato', $font-base;
$font-oswald: 'Oswald', $font-base;
