<header class="hero">
  <div class="hero-head">
    <nav class="navbar has-shadow" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item is--brand">
          <%= image_pack_tag 'logo.png', class: 'navbar-brand-logo', alt: 'Logo' %>
        </a>

        <button class="button navbar-burger" data-target="navMenu">
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>

      <div class="navbar-menu navbar-end" id="navMenu">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            <%= current_user.full_name || current_user.email %>
          </a>

          <div class="navbar-dropdown is-right">
            <%= link_to profile_path, class: 'navbar-item' do %>
              <span class="icon is-small">
                <i class="fas fa-user"></i>
              </span>
              &nbsp; Profile
            <% end %>
            <hr class="navbar-divider" />
            <%= link_to destroy_user_session_path, method: :delete, class: 'navbar-item' do %>
              <span class="icon is-small">
                <i class="fas fa-power-off"></i>
              </span>
              &nbsp; Logout
            <% end %>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>
